<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="manipulator_22">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-6.38743605427261E-06 -4.43534306504567E-11 0.0608318718443308"
        rpy="0 0 0" />
      <mass
        value="0.333983111157547" />
      <inertia
        ixx="0.000496910727247845"
        ixy="3.82277675453432E-13"
        ixz="-6.77055004679555E-08"
        iyy="0.000497529910998442"
        iyz="-1.15275147285889E-13"
        izz="0.000146583323080333" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://manipulator_22/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.745098039215686 0.745098039215686 0.745098039215686 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://manipulator_22/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="Link1">
    <inertial>
      <origin
        xyz="-8.67377909865852E-05 0.00244133920899098 0.0381592042066477"
        rpy="0 0 0" />
      <mass
        value="0.385049302606991" />
      <inertia
        ixx="0.000533842610757906"
        ixy="-1.15275509729985E-13"
        ixz="3.82277719043095E-13"
        iyy="0.000198645982170829"
        iyz="1.63662117754183E-08"
        izz="0.000536773320051663" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://manipulator_22/meshes/Link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.745098039215686 0.745098039215686 0.745098039215686 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://manipulator_22/meshes/Link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint1"
    type="revolute">
    <origin
      xyz="0 0 0.126"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="Link1" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Link2">
    <inertial>
      <origin
        xyz="0.371905354380137 0.00165563776791316 0.0227339447813084"
        rpy="0 0 0" />
      <mass
        value="0.571594617730373" />
      <inertia
        ixx="0.000945606698246167"
        ixy="3.50914236000084E-08"
        ixz="-6.37777967009732E-06"
        iyy="0.00244776051568794"
        iyz="-5.42079619875058E-08"
        izz="0.00312788694887439" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://manipulator_22/meshes/Link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.745098039215686 0.745098039215686 0.745098039215686 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://manipulator_22/meshes/Link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint2"
    type="revolute">
    <origin
      xyz="-0.0001 -0.0005 0.0401"
      rpy="0 0 0" />
    <parent
      link="Link1" />
    <child
      link="Link2" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Link3">
    <inertial>
      <origin
        xyz="-0.176443622509374 6.65679194063358E-07 0.0251330092950819"
        rpy="0 0 0" />
      <mass
        value="0.213783167310657" />
      <inertia
        ixx="0.000317311750836855"
        ixy="2.32620754752417E-08"
        ixz="4.59930334557955E-05"
        iyy="0.00130919022394782"
        iyz="5.00350160368701E-09"
        izz="0.00150313053960511" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://manipulator_22/meshes/Link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.745098039215686 0.745098039215686 0.745098039215686 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://manipulator_22/meshes/Link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint3"
    type="revolute">
    <origin
      xyz="0.468 0 0.037485"
      rpy="0 0 0" />
    <parent
      link="Link2" />
    <child
      link="Link3" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Link4">
    <inertial>
      <origin
        xyz="-0.044080131139705 -6.03601900496815E-05 -6.63098465025769E-11"
        rpy="0 0 0" />
      <mass
        value="0.0993584391570141" />
      <inertia
        ixx="2.72146759283529E-05"
        ixy="3.82942433999864E-07"
        ixz="-1.81253715083254E-13"
        iyy="3.57338128115307E-05"
        iyz="-1.63961694187052E-13"
        izz="4.55192356645138E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://manipulator_22/meshes/Link4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://manipulator_22/meshes/Link4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint4"
    type="revolute">
    <origin
      xyz="-0.32033 0 0.032447"
      rpy="0 0 0" />
    <parent
      link="Link3" />
    <child
      link="Link4" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Link5">
    <inertial>
      <origin
        xyz="-0.0912523559607206 -2.20820126664058E-07 -0.00506481858698543"
        rpy="0 0 0" />
      <mass
        value="0.234118251843822" />
      <inertia
        ixx="6.33801437758479E-05"
        ixy="8.17782397235474E-09"
        ixz="8.06391152404927E-07"
        iyy="6.7952146815915E-05"
        iyz="2.67206172955682E-10"
        izz="7.2255990358747E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://manipulator_22/meshes/Link5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.686274509803922 0.686274509803922 0.686274509803922 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://manipulator_22/meshes/Link5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint5"
    type="revolute">
    <origin
      xyz="-0.0641 0 0"
      rpy="0 0 0" />
    <parent
      link="Link4" />
    <child
      link="Link5" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>